<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <httpRedirect enabled="false" destination="https://sub.hwwh.eu/" exactDestination="true" childOnly="true" httpResponseStatus="Permanent"/>
    <caching>
      <profiles>
        <add extension=".json" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
      </profiles>
    </caching>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>